<app-header titulo="Catálogo"></app-header>

<ion-content>
  <ion-toolbar>
    <ion-title >Productos {{productos.length}}/{{limiteProductos}}</ion-title>
    <ion-progress-bar value="{{productos.length * 0.05}}"></ion-progress-bar>
  </ion-toolbar>
  <ion-item-sliding *ngFor="let producto of productos; index as i">
    <ion-item>
        <ion-label>
          <h3>{{ producto.compamy_description }}</h3>
        </ion-label>
        <ion-label slot="end" text-right>
          <p>{{ producto.price }}€</p>
          </ion-label>
      </ion-item>
    <ion-item-options slot="end">
      <ion-item-option color="danger" (click)="borrarProducto(i, producto.id)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [disabled]="isDisable" (click)="addArticle()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<app-footer type='u'></app-footer>
