<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons slot="start">
      <ion-button (click)="cancelar()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-label>Empresas</ion-label>
  <ion-select placeholder="Selecciona una empresa" (ionChange)="seleccionarCompania($event)">
    <ion-select-option *ngFor="let company of companies" value="{{company.id}}">{{company.name}}</ion-select-option>
  </ion-select>
</ion-item>

<ion-content>
  <ion-list>
    <ion-row>
        <ion-col size="12" size-lg="3" size-md="2" size-sm="6" size-xs="12" *ngFor="let prod of prodFiltrados; let i = index">
            <app-producto [prod]="prod"></app-producto>
        </ion-col>
        <div *ngIf="prodFiltrados.length == 0" style="margin-top: 20px; margin-left: auto;margin-right: auto;" classs="ion-text-center">
          <ion-label >No hay productos para mostrar</ion-label>
        </div>
    </ion-row>
  <ion-infinite-scroll threshold="150px">
  <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando...">
  </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  </ion-list>
  <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="crearPDF()">
    <ion-icon name="checkmark-outline"></ion-icon>
  </ion-fab-button>
  </ion-fab>
</ion-content>
