<ion-header>
  <ion-toolbar>
    <ion-title>
      INICIO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-list *ngFor="let prueba of pruebas">
    <div class="centrar">
    <img class="center-block" src="{{ prueba.img }}"/>
    </div>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/login']" expand="block" color="primary">ENTRAR</ion-button>
        <br>  
        <ion-item lines = "full">
          </ion-item>
          <br>
        <ion-button (click)="registrar()" expand="block" color="danger">REGISTRARSE</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
